<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Welcome to Crochet Hub</h1>
    <h4>Community sharing their crochet patterns and other projects.</h2>
    <%- include('./template/navbar') %>
<section class='welcome'>
    <div class='pattern'>
        <p>Review patterns below or search</p>
        <input type="search" name="search" placeholder="search"/>
        <input type="submit" name="search"/>
        <ul>
        <% for (let i=0; i < pattern.length; i++) { %>
            <li>
                <b><a href="/pattern/<%= pattern[i].patternType %>/<%= pattern[i].id %>"><%= pattern[i].title%></a></b>
            </li>
        <% } %>
        </ul>
    </div>
    <div class='member'>
        <ul>
            <% for (let i=0; i < member.length; i++) { %>
                <li>
                    <b><a href="/member/profile/<%= member[i].id %>"><%= member[i].username%></a></b>
                </li>
            <% } %>
        </ul>
    </div>
</section>
</body>
</html>