<%- include('./template/header') %>
        <nav>
            <div class="navitem">
                <input type="search" name="search" placeholder="search"/>
                <input type="submit" name="search"/>
            </div>
            <a class="navitem" href="/">Home</a>
            <div class="dropdown navitem">
                <button class="dropbtn">MENU</button>
                <div class="dropdown-content">
                    <a href="/pattern/create">Create Pattern</a>
                    <a href="/pattern/<%= pattern.patternType %>/<%= pattern.id %>/edit">Edit Pattern</a>
        </nav>
    </header>
<main>
    <h3><%= pattern.title %></h3>
    <h5>Created by <a href="/member/profile/<%= pattern.memberId %>"><%= pattern.Member.first_name %></a></h5>
    <img href='<%= pattern.introImg %>'>
    <p><%= pattern.introContent %></p>
    <p><%= pattern.itemsNeeded %></p>
    <p><%= pattern.contentHowTo %></p>
    <img href='<%= pattern.introImg %>'>
    <p><%= pattern.endingContent %></p>
<%- include('./template/footer') %>

