<%- include('./template/header') %>
        <nav>
            <div class="navitem">
                <input type="search" name="search" placeholder="search"/>
                <input type="submit" name="search"/>
            </div>
            <a class="navitem" href="/">Home</a>
            <div class="dropdown navitem">
                <button class="dropbtn">MENU</button>
                <div class="dropdown-content">
                    <a href="/pattern/create">Create Pattern</a>
                    <a href="/pattern/<%= pattern.patternType %>/<%= pattern.id %>/edit">Edit Pattern</a>
        </nav>
    </header>
<main>
    <h2><%= pattern.title %></h2>
    <h4>Created by <a href="/member/profile/<%= pattern.memberId %>"><%= pattern.Member.first_name %></a></h4>
    <p>Image:<img src='<%= pattern.introImg %>'></p>
    <p><%= pattern.introContent %></p>
    <p><%= pattern.itemsNeeded %></p>
    <p><%= pattern.contentHowTo %></p>
    <p>Image: <img src='<%= pattern.Design.imgUrl %>'></p>
    <p><%= pattern.endingContent %></p>
<%- include('./template/footer') %>

