<%- include('../template/header') %>
<%- include('../template/navbar') %>
    <section>
        <% if (member) { %>
            <% if (member.userImg) { %>
                <img src="<%=member.Avatars.profileImg%>">
            <% } else { %>
                <img src="/images/avatars/default-tinkerbell.png">
            <% }  %>
            <h3><%=member.first_name%></h3>
            <form action="/member/profile/:index?_method=PUT" method="POST">
                <label class='profileImg' for="profileImg">Profile Avatar:
                    <% for (let i=0; i< allAvatar.length; i++) { %>
                    <input type=radio class='avatar' name="profileImg" value="<%= allAvatar[i].id %>"><img src="<%= allAvatar[i].imgUrl %>">
                    <% } %>
                </label><br>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" value="<%=member.first_name%>"><br>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" value="<%=member.last_name%>"><br>
                <label for="aboutMe">About Me:</label>
                <textarea type="text" name="aboutMe" rows="5" value="<%=member.aboutMe%>"></textarea>><br>
                <label for="email">Email:</label>
                <input type="text" name="email" value="<%=member.email%>"><br>
                <label for="username">Username:</label>
                <input type="text" name="username" value="<%=member.username%>"><br>
                <label for="password">Password:</label>
                <input type="password" name="password" value="<%=member.password%>"><br>
                <input type="submit" value="Update profile"/>
            </form>
            <form action="/member/profile/<%= member.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Profile"/>
            </form>
            <% } %>
    </section>
<%- include('../template/footer') %>