<%- include('../template/header') %>
<%- include('../template/navbar') %>
    <section>
        <% if (member) { %>
            <% if (member.profileImg) { %>
                <img src="<%=member.profileImg%>">
            <% } else { %>
                <img src="/images/avatars/default-tinkerbell.png">
            <% }  %>
        <h3><%=member.first_name%></h3>

        <% } %>
        <h4>About Me:</h4>
        <p><%=member.aboutMe%></p>
    </section>
    <div>
        <a href="/member/profile/<%=member.id%>/edit">Edit profile</a>
        <form action="/member/profile/<%= member.id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Profile">
        </form>
    </div>
    <article>
        <h4>Projects</h4>
        <% for (let i=0; i < member.Patterns.length; i++) { %>
            <p><a href='/pattern/<%=member.Patterns[i].patternType%>/<%=member.Patterns[i].id%>'><%= member.Patterns[i].title %></a></p>
            <p><%= member.Patterns[i].introContent %></p>
        <% } %>
    </article>
<%- include('../template/footer') %>